
{{> head}}
<body>
    {{> navbar}}
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello, World!</h1>
        <p class="lead">Im a web develper</p>
        <hr class="my-4">
        <p>AngularJS, Node</p>
        <a  href="https://github.com/mike9739" target="_blank"> <i class="fab fa-github-square fa-4x text-center"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
    </div>
</body>
{{> footer}}

